Tugas 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset_url="https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/latest/owid-covid-latest.csv"
data=pd.read_csv(dataset_url, index_col=0)

In [ ]:
data

,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2022-09-06,194614.0,259.0,230.000,7783.0,0.0,0.857,4853.282,...,NaN,NaN,37.746,0.500,64.83,0.511,NaN,NaN,NaN,NaN
OWID_AFR,NaN,Africa,2022-09-06,12333163.0,1550.0,1188.714,256572.0,5.0,7.714,8857.522,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,Europe,Albania,2022-09-06,330283.0,62.0,180.857,3583.0,0.0,0.143,115697.566,...,7.100,51.200,NaN,2.890,78.57,0.795,NaN,NaN,NaN,NaN
DZA,Africa,Algeria,2022-09-06,270476.0,15.0,29.143,6879.0,0.0,0.143,6122.418,...,0.700,30.400,83.741,1.900,76.88,0.748,NaN,NaN,NaN,NaN
AND,Europe,Andorra,2022-09-06,46027.0,0.0,0.000,154.0,0.0,0.000,582369.613,...,29.000,37.800,NaN,NaN,83.73,0.868,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,Oceania,Wallis and Futuna,2022-09-06,761.0,0.0,0.000,7.0,0.0,0.000,65451.105,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2022-09-06,606189747.0,687204.0,573749.429,6505336.0,2317.0,2129.429,76642.701,...,6.434,34.635,60.130,2.705,72.58,0.737,NaN,NaN,NaN,NaN
YEM,Asia,Yemen,2022-09-06,11931.0,0.0,0.714,2155.0,0.0,0.000,361.747,...,7.600,29.200,49.542,0.700,66.12,0.470,NaN,NaN,NaN,NaN
ZMB,Africa,Zambia,2022-09-06,333124.0,38.0,43.143,4017.0,0.0,0.143,17106.859,...,3.100,24.700,13.938,2.000,63.89,0.584,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-09-06,256782.0,13.0,10.571,5596.0,0.0,0.429,16055.373,...,1.600,30.700,36.791,1.700,61.49,0.571,NaN,NaN,NaN,NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data[["continent","location","total_cases","total_deaths"]].head(4)

         continent     location  total_cases  total_deaths
iso_code
AFG           Asia  Afghanistan     194614.0        7783.0
OWID_AFR       NaN       Africa   12333163.0      256572.0
ALB         Europe      Albania     330283.0        3583.0
DZA         Africa      Algeria     270476.0        6879.0

In [ ]:
data[["continent","location"]].head(4)

         continent     location
iso_code
AFG           Asia  Afghanistan
OWID_AFR       NaN       Africa
ALB         Europe      Albania
DZA         Africa      Algeria

In [ ]:
def diss(x,y):
   p=2
   m=0
   for row in["continent","location"]:
      if data[row][x] == data[row][y]:
         m+=1
      return (p-m)/p

In [ ]:
print(diss(1,1))
print(diss(1,2))
print(diss(1,3))

1.0
1.0
1.0

**Tugas Diskritisasi**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset_url="https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv"
data=pd.read_csv(dataset_url)

In [ ]:
data[['sepal_length']]

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')

In [ ]:
data['sepal_length']=est.fit_transform(data[['sepal_length']])

In [ ]:
data['sepal_length']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    3.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: sepal_length, Length: 150, dtype: float64

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
data['sepal_width']=est.fit_transform(data[['sepal_width']])

In [ ]:
data['sepal_width']

0      2.0
1      1.0
2      2.0
3      1.0
4      2.0
      ...
145    1.0
146    0.0
147    1.0
148    2.0
149    1.0
Name: sepal_width, Length: 150, dtype: float64

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
data['petal_length']=est.fit_transform(data[['petal_length']])

In [ ]:
data['petal_length']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: petal_length, Length: 150, dtype: float64

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
data['petal_width']=est.fit_transform(data[['petal_width']])

In [ ]:
data['petal_width']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    3.0
146    3.0
147    3.0
148    3.0
149    2.0
Name: petal_width, Length: 150, dtype: float64

**Tugas 3**

In [ ]:
import pandas as pd
import numpy as np
import math
import operator

In [ ]:
dataset_url="https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv"
data=pd.read_csv(dataset_url)

In [ ]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
def euclidianDistance(data1, data2, length):
    distance = 0
    for x in range(length):
        distance += np.square(data1[x] - data2[x])
       
    return np.sqrt(distance)
def knn(trainingSet, testInstance, k):
 
    distances = {}
    sort = {}
    length = testInstance.shape[1]
    print(length)
    
    
    # Calculating euclidean distance between each row of training data and test data
    for x in range(len(trainingSet)):
        
       
        dist = euclidianDistance(testInstance, trainingSet.iloc[x], length)
        distances[x] = dist[0]
       
 
    
    # Sorting them on the basis of distance
    sorted_d = sorted(distances.items(), key=operator.itemgetter(1)) #by using it we store indices also
    sorted_d1 = sorted(distances.items())
    print(sorted_d[:5])
    print(sorted_d1[:5])
   
 
    neighbors = []
    
    
    # Extracting top k neighbors
    for x in range(k):
        neighbors.append(sorted_d[x][0])
    counts = {"Iris-setosa":0,"Iris-versicolor":0,"Iris-virginica":0}
    
    
    # Calculating the most freq class in the neighbors
    for x in range(len(neighbors)):
        response = trainingSet.iloc[neighbors[x]][-1]
 
        if response in counts:
            counts[response] += 1
        else:
            counts[response] = 1
  
    print(counts)
    sortedVotes = sorted(counts.items(), key=operator.itemgetter(1), reverse=True)
    print(sortedVotes)
    return(sortedVotes[0][0], neighbors)

In [ ]:
testSet = [[1.4, 3.6, 3.4, 1.2]]
test = pd.DataFrame(testSet)
result,neigh = knn(data, test, 4)#here we gave k=4
print("And the flower is:",result)
print("the neighbors are:",neigh)

4
[(57, 3.706750598570128), (8, 3.8065732621348567), (42, 3.817066936798463), (93, 3.8340579025361627), (38, 3.8431757701151272)]
[(0, 4.32434966208793), (1, 4.196427051671457), (2, 4.057092555020159), (3, 3.8858718455450894), (4, 4.237924020083418)]
{'Iris-setosa': 0, 'Iris-versicolor': 0, 'Iris-virginica': 0, 'versicolor': 2, 'setosa': 2}
[('versicolor', 2), ('setosa', 2), ('Iris-setosa', 0), ('Iris-versicolor', 0), ('Iris-virginica', 0)]
And the flower is: versicolor
the neighbors are: [57, 8, 42, 93]

In [ ]:
testSet = [[5.4, 1.6, 2.4, 3.2]]
test = pd.DataFrame(testSet)
result,neigh = knn(data, test, 4)#here we gave k=4
print("And the flower is:",result)
print("the neighbors are:",neigh)

4
[(98, 2.3811761799581315), (93, 2.5099800796022267), (60, 2.5238858928247927), (57, 2.5573423705088842), (53, 2.582634314028992)]
[(0, 3.7013511046643495), (1, 3.4942810419312296), (2, 3.641428291206625), (3, 3.5637059362410923), (4, 3.7629775444453557)]
{'Iris-setosa': 0, 'Iris-versicolor': 0, 'Iris-virginica': 0, 'versicolor': 4}
[('versicolor', 4), ('Iris-setosa', 0), ('Iris-versicolor', 0), ('Iris-virginica', 0)]
And the flower is: versicolor
the neighbors are: [98, 93, 60, 57]

In [ ]:
testSet = [[0.4, 1.6, 5.4, 3.2]]
test = pd.DataFrame(testSet)
result,neigh = knn(data, test, 10)
print("And the flower is:",result)
print("the neighbors are:",neigh)

4
[(106, 4.91121166312347), (59, 5.453439281774393), (60, 5.4561891462814955), (57, 5.489990892524323), (121, 5.492722457943783)]
[(0, 7.120393247567159), (1, 6.870953354520754), (2, 6.8454364360499325), (3, 6.640783086353596), (4, 7.0823724838503095)]
{'Iris-setosa': 0, 'Iris-versicolor': 0, 'Iris-virginica': 0, 'virginica': 4, 'versicolor': 6}
[('versicolor', 6), ('virginica', 4), ('Iris-setosa', 0), ('Iris-versicolor', 0), ('Iris-virginica', 0)]
And the flower is: versicolor
the neighbors are: [106, 59, 60, 57, 121, 113, 84, 93, 114, 90]

In [ ]:
testSet = [[5.0, 3.3, 1.3, 0.2]]
test = pd.DataFrame(testSet)
result,neigh = knn(data, test, 15)
print("And the flower is:",result)
print("the neighbors are:",neigh)

4
[(49, 0.09999999999999987), (35, 0.1414213562373093), (7, 0.22360679774997896), (40, 0.2236067977499791), (39, 0.24494897427831766)]
[(0, 0.24494897427831777), (1, 0.3316624790355397), (2, 0.31622776601683766), (3, 0.48989794855663577), (4, 0.31622776601683816)]
{'Iris-setosa': 0, 'Iris-versicolor': 0, 'Iris-virginica': 0, 'setosa': 15}
[('setosa', 15), ('Iris-setosa', 0), ('Iris-versicolor', 0), ('Iris-virginica', 0)]
And the flower is: setosa
the neighbors are: [49, 35, 7, 40, 39, 0, 28, 17, 9, 34, 37, 2, 4, 1, 27]